name: MinderaPeople Android

on:
  push:
    branches: [ main, release, develop ]
  pull_request:
    branches: [ main, release, develop ]

# Ensures that only one deploy task per branch/environment will run at a time
concurrency:
  group: android-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: macOS-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup JDK
      uses: actions/setup-java@v3
      with:
        distribution: 'adopt'
        java-version: 17

    - name: Setup Android SDK
      uses: android-actions/setup-android@v2

    - name: Build Android app
      run: ./gradlew android:assembleDebug

  test:
    needs: build
    runs-on: macOS-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup JDK
      uses: actions/setup-java@v3
      with:
        distribution: 'adopt'
        java-version: 17

    - name: Setup Android SDK
      uses: android-actions/setup-android@v2

    - name: Run core Unit Tests
      run: ./gradlew core:testDebugUnitTest

    - name: Run android Unit Tests
      run: ./gradlew android:testDebugUnitTest

  deploy-firebase:
    if: contains(fromJson('["refs/heads/develop", "refs/heads/release"]'), github.ref)
    needs: test
    runs-on: macOS-latest

    environment: firebase-app-distribution

    steps:
    - uses: actions/checkout@v3

    - name: Fetch Tags
      run: git fetch --tags origin

    - name: Setup JDK
      uses: actions/setup-java@v3
      with:
        distribution: 'adopt'
        java-version: 17

    - name: Setup Android SDK
      uses: android-actions/setup-android@v2

    - name: Setup Environment
      env:
        FB_DIST: ${{ secrets.APPS_FIREBASE_DISTRIBUTION }}
      run: |
        echo $FB_DIST > $RUNNER_TEMP/fb-dist.json
        echo "FB_DIST_FILE=$RUNNER_TEMP/fb-dist.json" >> $GITHUB_ENV
        ./gradlew --stop

    - name: Build and Publish Alpha
      if: github.ref == 'refs/heads/develop'
      run: |
        ALPHA_TAGS=$(git tag -l -n 'alpha.v*' | wc -l)
        export VERSION_CODE=$(( $ALPHA_TAGS + 1 ))
        ./gradlew --stop
        ./gradlew android:assembleAlpha android:appDistributionUploadAlpha
        # define tag artifact for `tagging` workflow
        mkdir -p ./tag
        echo alpha > ./tag/tag_type

    - name: Build and Publish Beta
      if: github.ref == 'refs/heads/release'
      run: |
        BETA_TAGS=$(git tag -l -n 'beta.v*' | wc -l)
        export VERSION_CODE=$(( $BETA_TAGS + 1 ))
        ./gradlew --stop
        ./gradlew android:assembleBeta android:appDistributionUploadBeta
        # define tag artifact for `tagging` workflow
        mkdir -p ./tag
        echo beta > ./tag/tag_type

    - uses: actions/upload-artifact@v3
      with:
        name: tag_type
        path: tag/

  deploy-googleplay:
    if: github.ref == 'refs/heads/main'
    needs: test
    runs-on: macOS-latest

    environment: google-play

    steps:
    - uses: actions/checkout@v3

    - name: Fetch Tags
      run: git fetch --tags origin

    - name: Setup JDK
      uses: actions/setup-java@v3
      with:
        distribution: 'adopt'
        java-version: 17

    - name: Setup Android SDK
      uses: android-actions/setup-android@v2

    - name: Build Release
      env:
        KEYSTORE: ${{ secrets.RELEASE_KEYSTORE }}
        KEYSTORE_PASSPHRASE: ${{ secrets.RELEASE_KEYSTORE_PASS }}
        RK_STORE_PASS: ${{ secrets.RK_STORE_PASS }}
        RK_KEY_ALIAS: ${{ secrets.RK_KEY_ALIAS }}
        RK_KEY_PASS: ${{ secrets.RK_KEY_PASS }}
      run: |
        echo $KEYSTORE > release.keystore.asc
        gpd -d --passphrase "$KEYSTORE_PASSPHRASE" --batch release.keystore.asc > $RUNNER_TEMP/release.keystore
        export RK_FILE=$RUNNER_TEMP/release.keystore
        export RELEASE_TAGS=$(git tag -l -n 'v*' | wc -l)
        export VERSION_CODE=$(( $RELEASE_TAGS + 1 ))
        ./gradlew --stop
        ./gradlew android:bundleRelease
        # define tag artifact for `tagging` workflow
        mkdir -p ./tag
        echo release > ./tag/tag_type

    - name: Upload to Google Play Store
      uses: r0adkll/upload-google-play@v1.0.19
      with:
        serviceAccountJsonPlainText: ${{ secrets.SERVICE_ACCOUNT_JSON }}
        packageName: org.mindera.peopleandroid
        releaseFiles: app/build/outputs/bundle/release/app-release.aab
        track: internalsharing

    - uses: actions/upload-artifact@v3
      with:
        name: tag_type
        path: tag/
