name: MinderaPeople Android

on:
  push:
    branches: [ main, release, develop ]
  pull_request:
    branches: [ main, release, develop ]

# Ensures that only one deploy task per branch/environment will run at a time
concurrency:
  group: android-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: macOS-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup JDK
      uses: actions/setup-java@v3
      with:
        distribution: 'adopt'
        java-version: 17

    - name: Setup Android SDK
      uses: android-actions/setup-android@v2

    - name: Build Android app
      run: ./gradlew android:assembleDebug

  test:
    needs: build
    runs-on: macOS-latest

    steps:
    - uses: actions/checkout@v3

    - name: Setup JDK
      uses: actions/setup-java@v3
      with:
        distribution: 'adopt'
        java-version: 17

    - name: Setup Android SDK
      uses: android-actions/setup-android@v2

    - name: Run core Unit Tests
      run: ./gradlew core:testDebugUnitTest

    - name: Run android Unit Tests
      run: ./gradlew android:testDebugUnitTest

  deploy:
    if: contains(fromJson('["refs/heads/develop", "refs/heads/release", "refs/heads/main"]'), github.ref)
    needs: test
    runs-on: macOS-latest

    environment: firebase-app-distribution

    steps:
    - uses: actions/checkout@v3

    - name: Setup JDK
      uses: actions/setup-java@v3
      with:
        distribution: 'adopt'
        java-version: 17

    - name: Setup Android SDK
      uses: android-actions/setup-android@v2

    - name: Build and Publish Alpha
      if: github.ref == 'refs/heads/develop'
      run: |
        export FB_DIST_FILE=$RUNNER_TEMP/fb-dist.json
        echo $APPS_FIREBASE_DISTRIBUTION
        echo $APPS_FIREBASE_DISTRIBUTION > $FB_DIST_FILE
        export VERSION_CODE=$(git rev-list --count HEAD)
        ./gradlew --stop
        ./gradlew android:bundleAlpha android:appDistributionUploadAlpha

    - name: Build and Publish Beta
      if: github.ref == 'refs/heads/release'
      run: |
        export FB_DIST_FILE=$RUNNER_TEMP/fb-dist.json
        echo $APPS_FIREBASE_DISTRIBUTION > $FB_DIST_FILE
        export VERSION_CODE=$(git rev-list --count HEAD)
        ./gradlew --stop
        ./gradlew android:bundleBeta android:appDistributionUploadBeta

    - name: Build and Publish Release
      if: github.ref == 'refs/heads/main'
      run: |
        echo $RELEASE_KEYSTORE > release.keystore.asc
        gpd -d --passphrase "$RELEASE_KEYSTORE_PASS" --batch release.keystore.asc > android/keys/release.keystore
        export FB_DIST_FILE=$RUNNER_TEMP/fb-dist.json
        echo $APPS_FIREBASE_DISTRIBUTION > $FB_DIST_FILE
        export VERSION_CODE=$(git rev-list --count HEAD)
        ./gradlew --stop
        ./gradlew android:bundleRelease android:appDistributionUploadRelease
