name: MinderaPeople iOS

# Controls when the action will run. Triggers the workflow on push or pull request 
# events but only for the master branch
on:
  push:
    branches: [ main, release, develop ]
  pull_request:
    branches: [ main, release, develop ]

# Ensures that only one deploy task per branch/environment will run at a time
concurrency:
  group: ios-${{ github.ref }}
  cancel-in-progress: true

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: macOS-latest

    strategy:
      matrix:
        destination: ['platform=iOS Simulator,OS=latest,name=iPhone 13']

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v3

    #- name: Install gpg
    #  run: brew install gnupg

    - name: Setup JDK
      uses: actions/setup-java@v3
      with:
        distribution: 'adopt'
        java-version: 17

    #- name: Select Xcode
    #  run: sudo xcode-select -switch /Applications/Xcode_11.3.app

    - name: Xcode version
      run: /usr/bin/xcodebuild -version

    - name: Build KMM library
      run: ./gradlew :core:iosX64Test

    - name: Create Swift Package
      run: ./gradlew :core:createSwiftPackage

    #- name: create simulator
    #  run: xcrun simctl create "iPhone 8" "com.apple.CoreSimulator.SimDeviceType.iPhone-8" "com.apple.CoreSimulator.SimRuntime.iOS-15-2"

    - name: Build iOS app
      uses: sersoft-gmbh/xcodebuild-action@v2
      with:
        project: ios/MinderaPeople.xcodeproj
        scheme: MinderaPeople
        destination: name=iPhone 8
        configuration: Debug
        action: build

  deploy-firebase:
    if: contains(fromJson('["refs/heads/develop", "refs/heads/release"]'), github.ref)
    needs: test
    runs-on: macOS-latest

    environment: firebase-app-distribution

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Fetch Tags
        run: git fetch --tags origin

      - name: Setup JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: 17

      - name: Setup Android SDK
        uses: android-actions/setup-android@v2

      - name: Setup Environment
        env:
          FB_DIST: ${{ secrets.APPS_FIREBASE_DISTRIBUTION }}
        run: |
          echo $FB_DIST > $RUNNER_TEMP/fb-dist.json
          echo "FB_DIST_FILE=$RUNNER_TEMP/fb-dist.json" >> $GITHUB_ENV
          ./gradlew --stop

      - name: Build and Publish Alpha
        if: github.ref == 'refs/heads/develop'
        run: |
          export ALPHA_TAGS=$(git tag -l -n 'alpha.v*' | wc -l)
          export VERSION_NAME=alpha.v$(./gradlew -q printVersionName | tail -1)
          export VERSION_CODE=$(( $ALPHA_TAGS + 1 ))
          echo "NEW_TAG_NAME=$VERSION_NAME-$VERSION_CODE" >> $GITHUB_ENV
          ./gradlew --stop
          ./gradlew android:assembleAlpha android:appDistributionUploadAlpha

      - name: Build and Publish Beta
        if: github.ref == 'refs/heads/release'
        run: |
          export BETA_TAGS=$(git tag -l -n 'beta.v*' | wc -l)
          export VERSION_NAME=beta.v$(./gradlew -q printVersionName | tail -1)
          export VERSION_CODE=$(( $BETA_TAGS + 1 ))
          echo "NEW_TAG_NAME=$VERSION_NAME-$VERSION_CODE" >> $GITHUB_ENV
          ./gradlew --stop
          ./gradlew android:assembleBeta android:appDistributionUploadBeta
