name: Tagging

on:
  workflow_run:
    # List of dependent workflows to allow this one run.
    # However, the `workflows` key wait for the first workflow complete
    # to run this workflow, which doesn't make sense.¯\_(ツ)_/¯
    # There is an Issue opened to fix this behaviour:
    # https://github.com/community/community/discussions/16059
    workflows: ["MinderaPeople Android"] # , "MinderaPeople iOS" -> removed from the list for while.
    types: [completed]
    branches: [ main, release, develop ]

jobs:
  create-tag:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    environment: tagging

    steps:
    - uses: actions/checkout@v3

    - name: Setup JDK
      uses: actions/setup-java@v3
      with:
        distribution: 'adopt'
        java-version: 17

    - name: Setup Android SDK
      uses: android-actions/setup-android@v2

    - name: Generate Install Token
      uses: getsentry/action-github-app-token@v2.0.0
      id: installationToken
      with:
        app_id: 265615
        private_key: ${{ secrets.GH_APP_PRIVATE_KEY }}

    - name: Fetch Tags
      run: git fetch --tags origin

    - name: Define new Tag
      run: |
        CURRENT_BRANCH=${{ github.ref }}
        case "$CURRENT_BRANCH" in
            "refs/heads/develop") TAG_TYPE="alpha.v" ;;
            "refs/heads/release") TAG_TYPE="beta.v" ;;
            *) TAG_TYPE="v" ;;
        esac
        TAGS=$(git tag -l -n "$TAG_TYPE*" | wc -l)
        VERSION_NAME=$TAG_TYPE$(./gradlew -q printVersionName | tail -1)
        VERSION_CODE=$(( $TAGS + 1 ))
        echo "NEW_TAG=$VERSION_NAME-$VERSION_CODE" >> $GITHUB_ENV
        echo $VERSION_NAME-$VERSION_CODE

    - name: Apply Tag
      uses: simpleactions/create-tag@v1.0.0
      with:
        tag: ${{ env.NEW_TAG }}
        message: "version $NEW_TAG_NAME"
        github_token: ${{ steps.installationToken.outputs.token }}
