name: Tagging

on:
  workflow_run:
    # unfortunately, `workflows` def wait for the first workflow complete
    # to run this workflow, which doesn't make sense.¯\_(ツ)_/¯
    # There is an Issue opened to fix this behaviour:
    # https://github.com/community/community/discussions/16059
    workflows: [MinderaPeople Android] #, MinderaPeople iOS
    types: [completed]
    branches: [ main, release, develop ]

# Ensures that only one deploy task per branch/environment will run at a time
concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  create-tag:
    runs-on: macOS-latest

    environment: tagging

    steps:
    - uses: actions/checkout@v3

    - uses: ./
      id: installationToken
      with:
        appId: 265615
        installationId: 31564898
        privateKey: ${{ secrets.GH_APP_PRIVATE_KEY }}

    - name: Fetch Tags
      run: git fetch --tags origin

    - name: Define new Tag
      run: |
        export TAG_TYPE=$(case $(git name-rev --name-only HEAD) in "develop") echo "alpha.v";; "release") echo "beta.v";; *) echo "v.";; esac)
        export TAGS=$(git tag -l -n "$TAG_TYPE*" | wc -l)
        export VERSION_NAME=$TAG_TYPE$(./gradlew -q printVersionName | tail -1)
        export VERSION_CODE=$(( $TAGS + 1 ))
        echo "NEW_TAG=$VERSION_NAME-$VERSION_CODE" >> $GITHUB_ENV

    - name: Apply Tag
      uses: simpleactions/create-tag@v1.0.0
      with:
        tag: $NEW_TAG
        message: "version $NEW_TAG_NAME"
        github_token: ${{ steps.installationToken.outputs.token }}
